<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style4.css">
</head>
<body>
    <div class="container">
        <header class="header texto">
            <p>Header</p>
        </header>
        <div class="panel-central">
            <div class="main-content texto">
                <p>Main Content</p>
            </div>
            <div class="right-panel texto">
                <p>Right Panel</p>
            </div>
        </div>
        <footer class="footer texto">
            <p>Footer</p>
        </footer>
    </div>
</body>
</html>