<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style3.css">
</head>
<body>
    <div class="container"></div>
        <div class="header">
            <div class="texto">
                Header
            </div>
        </div>
       
        <div class="left-panel">
                <div class="texto">
                    Left panel
                </div>
        </div>
        <div class="main-content">
            <div class="texto">
                Main Content
            </div>
    </div>
        
        <div class="footer">
            <div class="texto">
                Footer
            </div>
        </div>
    </div>

</body>
</html>